html {
  font-size: 20px;
}

div[class^="div-"] {
  padding: 10px;
  margin: 10px;
}

.div-1 {
  border: 3px solid orangered;
}

.div-2 {
  border: 3px solid darkcyan;
}

.div-1 p,
.div-2 p {
  padding: inherit;
  border: 3px solid;
  border-color: inherit;
  background-color: #eee;
  text-align: center;
}

.font-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font-2 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
}

.font-3 {
  font-family: "Jomhuria", cursive;
  font-weight: 400;
}

.root-1 {
  font-size: 2.5rem;
}
.root-2 {
  font-size: 2rem;
}
.root-3 {
  font-size: 1.5rem;
}
