.parent .child .title {
  color: red;
}

.parent .title {
  color: blue;
}

.parent p,
.title {
  color: green;
}

.titles {
  color: white;
  background-color: brown;
  font-size: 22px;
  text-transform: capitalize;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  max-width: 400px;
  max-height: 50px;
  overflow: hidden;
}
